<h1>Segundo controlador</h1>
<h2>Hashes</h2>


<table style="border-collapse: collapse; width: 45%; border: 1px solid blcak">
    <tr>
        <td style="background-color: #005bac; color: white; padding: 8px; border: 1px solid black; ">Nombre</td>
        <td style="background-color: #e5e8e8; padding: 8px;border: 1px solid black;"><%= @persona[:nombre]%></td>

    </tr>

    <tr>
        <td style="background-color: #005bac; color: white; padding: 8px;border: 1px solid black;">Apellido</td>
        <td style="background-color: #e5e8e8; padding: 8px;border: 1px solid black;"><%= @persona[:apellido]%></td>
    </tr>

    <tr>
        <td style="background-color: #005bac; color: white; padding: 8px;border: 1px solid black;">Telefono</td>
        <td style="background-color: #e5e8e8; padding: 8px;border: 1px solid black;"><%= @persona[:telefono]%></td>
    </tr>

    <tr>
        <td style="background-color: #005bac; color: white; padding: 8px;border: 1px solid black;">Correo</td>
        <td style="background-color: #e5e8e8; padding: 8px;border: 1px solid black;"><%= @persona[:correo]%></td>
    </tr>

</table>